!TAGS/
*~
.#*
.DS_Store
.Spotlight-V100
.Trashes
._*
.bundle
.config
.sass-cache
.yardoc
Gemfile.lock
TAGS
\#*\#
_yardoc
doc
pkg
spec/reports
tags
tmp
vendor/bundle
vendor/cache/*.gem
test.avi
Makefile
mkmf.log
lib/libmediainfo.so
